### Symfony template
# Cache and logs (Symfony2)
/app/cache/*
!app/cache/.keep
/app/logs/*
!app/logs/.keep
/app/sessions/*
!/app/sessions/.keep

# Parameters
/app/config/parameters.yml

# Managed by Composer
/app/bootstrap.php.cache
/bin/*
/vendor/

# Assets, assetic and user uploads
/web/bundles/
/web/css/
/web/js/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# IDE File
.idea

#ezpublish_legacy

/var/cache/
/var/log/
/var/webdav/