{% extends "BeCloodTopRecettesBundle::pagelayout.html.twig" %}

{% block title %}{{ ez_content_name( content ) }} {{ parent() }}{% endblock %}

{% block content %}
    <h1>{{ ez_content_name(content)|capitalize }} <small>{{ recettes|length }} recettes</small></h1>
    {% for recette in recettes %}
        {% include "BeCloodTopRecettesBundle:embed:recette.html.twig" with {'content': recette, 'class': 'default', 'link': true} %}
    {% endfor %}

{% endblock %}
